<header>
    <div class="navbar navbar-dark bg-dark box-shadow px-0">
      <div class="container d-flex justify-content-between">
        <a routerLink="/" class="navbar-brand d-flex align-items-center px-2">
          <strong>Film Queue</strong>
        </a>
        <nav *ngIf="isAuthenticated" class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-light" (click)="signout()" href="#">Signout</a>
        </nav>
      </div>
    </div>
  </header>

<main role="main">
    <div class="container pt-4">
        <ng-content></ng-content>
    </div>
</main>

<app-footer></app-footer>