<header>
    <div class="navbar navbar-dark bg-dark box-shadow px-0">
        <div class="container">
            <div class="d-flex justify-content-between w-100">
                <a (click)="dismissed.emit(null)" class="link-unstyled cursor-pointer px-2">
                    <span aria-hidden="true" class="dismiss">&times;</span>
                </a>
                <a (click)="accepted.emit(null)" class="link-unstyled cursor-pointer px-2">
                    <fa-icon [icon]="faCheck" class="text-white" style="font-size: 1.5rem"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <div class="container pt-4">
        <ng-content></ng-content>
    </div>
</main>

<app-footer></app-footer>