<app-add-film (filmAdded)="ngOnInit()"></app-add-film>

<div class="card">
    <div class="card-header">
        Watchlist
    </div>
    <ul class="list-group list-group-flush">
        <li *ngIf="toWatch.length === 0" class="list-group-item">You have no films in your watchlist.</li>
        <li *ngFor="let film of toWatch" class="list-group-item">{{film.title}}</li>
    </ul>
</div>
<a [routerLink]="" (click)="toggleWatched()" class="d-block text-center my-1">
    <small>{{showWatched ? 'Hide' : 'Show'}} watched films</small>
</a>
<div class="card" *ngIf="showWatched">
    <ul class="list-group list-group-flush">
        <li *ngFor="let film of watched" class="list-group-item">{{film.title}}<fa-icon [icon]="faCheck" class="ml-2 float-right"></fa-icon></li>
    </ul>
</div>